* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    padding-top: 100px; /* Відступ для того, щоб контент не перекривався меню */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #CF2F2C 81%, #691816 100%);
    padding: 20px;
    color: white;
    z-index: 1000;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo {
    width: 200px;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.phone-number {
    font-size: 18px;
    margin-right: 20px;
}

.login-btn {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px; /* Відступ після меню */
}

.category {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;
}
